name: rasil_whatsapp
description: A new Flutter project.


publish_to: 'none' 


version: 1.0.0+1

environment:
  sdk: '>=2.18.2 <3.0.0'


dependencies:
  flutter:
    sdk: flutter
  flutter_localizations: 
    sdk: flutter 

  cupertino_icons: ^1.0.2
  google_fonts: ^3.0.1
  font_awesome_flutter: ^10.1.0
  provider: ^6.0.2 
  http: ^0.13.1
  overlay_support: ^2.0.1
  month_year_picker: ^0.2.0+2
  url_launcher: ^6.1.6
  image: ^3.2.0
  win32: ^2.7.0
  ffi: '>=1.1.2 <3.0.0'
  
  

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^2.0.0


flutter:

  uses-material-design: true

  # To add assets to your application, add an assets section, like this:
  # assets:
  #   - images/a_dot_burr.jpeg
  #   - images/a_dot_ham.jpeg
